{% extends 'base.html.twig' %}
{% block title %}Matemágicas {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    {#<h1>Diego Bastidas M?</h1>#}
    <div id="live-view">
        <iframe style="display: block; position: absolute; width: 100%; height: 100%;" width="100%" height="100%" frameborder="0"
                src="https://www.tooplate.com/templates/2087_kalay/"></iframe>
    </div>
{% endblock %}