<table align="center" id="board2" data-index="false">
    <thead>
    <th class="text-center" colspan="3">Tablero</th>
    </thead>
    <tbody>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="1">1</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="2">2</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="3">3</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="4">4</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="5">5</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="6">6</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="7">7</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="8">8</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="9">9</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="plus">+</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="0">0</button>
        </td>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="rest">-</button>
        </td>
    </tr>
    <tr>

        <td colspan="3">
            <button class="btn btn-info b2 btn-block" data-index="slash">
                <img id="slash" src="{{ asset('/Matemagicas/public/Img/tempIcons/slash.png') }}" width="90px"
                     height="30px"/>
            </button>
        </td>
    </tr>

    <tr>
        <td >
            <button class="btn btn-info b2 btn-block" style="width: 100%" data-index="popen">
                <img id="popen" src="{{ asset('/Matemagicas/public/Img/tempIcons/popen.png') }}" width="30px"
                     height="30px"/>
            </button>
        </td>
        <td >
            <button class="btn btn-info b2 btn-block" style="width: 100%" data-index="pclose">
                <img id="pclose" src="{{ asset('/Matemagicas/public/Img/tempIcons/pclose.png') }}" width="30px"
                     height="30px"/>
            </button>
        </td>
        <td >
            <button class="btn btn-info b2 btn-block" style="width: 100%" data-index=",">
                <img id="," src="{{ asset('/Matemagicas/public/Img/tempIcons/,.png') }}" width="30px"
                     height="30px"/>
            </button>
        </td>
    </tr>
    </tbody>
</table>