<table align="center" id="board2" data-index="false">
    <thead>
    <th class="text-center" colspan="3">Tablero</th>
    </thead>
    <tbody>
    <tr>
        <td>
            <button class="btn btn-info b2" data-index="F"> <img id="F"  src="{{ asset('/Matemagicas/public/Img/tempIcons/F.png') }}" width="30px" height="30px"/> </button>
        </td>
        <td>
            <button class="btn btn-info b2" data-index="V"><img id="V"  src="{{ asset('/Matemagicas/public/Img/tempIcons/V.png') }}" width="30px" height="30px"/></button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info b2" data-index="Mayor">
                <img id="Mayor" src="{{ asset('/Matemagicas/public/Img/tempIcons/Mayor.png') }}" width="30px" height="30px"/>
            </button>
        </td>
        <td>
            <button class="btn btn-info b2" data-index="Menor">
                <img id="Menor" src="{{ asset('/Matemagicas/public/Img/tempIcons/Menor.png') }}" width="30px" height="30px"/>
            </button>
        </td>
    </tr>
    </tbody>
</table>