<div class="text-center" style="opacity: 0.8;">
    <ul class="mt-5">
        <h3 class="text-left">Importante:</h3>
        <li><small>En matem치gicas, El valor de PI lo manejamos como: 3,1416 (Ni m치s, ni menos, est치 redondeado como valor estandard, por favor, haz tus calculos con este valor)</small></li>
        <li><small>Si tu respuesta contiene decimales, utiliza la coma (,) del tablero para separar los numeros enteros de los decimales</small></li>
        <li><small>Si tu respuesta contiene decimales, pon los primeros 3 decimales de tu respuesta. (Ni m치s, ni menos).</small></li>
    </ul>
</div>