{% extends 'base.html.twig' %}
{% block title %}Matemágicas {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Qué es matemágicas?</h1>
{% endblock %}