{% extends 'base.html.twig' %}
{% block title %}Cambiar contraseña{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container ">
        <div class="jumbotron text-center">
            <h2>Cuenta recuperada, utiliza tus nuevos datos para <a href="{{ path('index') }}">acceder</a> </h2>
        </div>

    </div>
{% endblock %}