<table align="center" id="board2" data-index="false">
    <thead>
    <th class="text-center" colspan="3">Tablero</th>
    </thead>
    <tbody>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="moon">Luna </button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="rabbit">Conejo</button>
        </td>
    </tr>
    <td>
        <button class="btn btn-info b2 btn-block" data-index="robot">robot</button>
    </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-info b2 btn-block" data-index="rocket">cohete</button>
        </td>
    </tr>
    <td>
        <button class="btn btn-info b2 btn-block" data-index="star">Estrella</button>
    </td>
    </tbody>
</table>